.footer {
  width: 100%;
  padding: 48px 19px 36px;
  max-width: 581px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .footer {
    padding: 69px 0 60px;
  }
}

@media (min-width: 1280px) {
  .footer {
    max-width: 880px;
  }
}
